/* -- GLOBAL OVERRIDES -- */
$icon-font-path: '../fonts/';

@function font-path($path) {
  @return $path;
}

/* -- BOOTSTRAP DEPENDENCIES -- */
@import 'bootstrap-variables';
@import 'bootstrap-compass';
@import 'bootstrap-sprockets';
@import 'bootstrap';

/* -- CUSTOM MIXINS -- */
// Media Library
@import 'lib/_include-media';

//Internal
@import 'mixins/typography';

/* -- DECLARATIONS -- */
$header-img: image-url('placeholder-logo.jpg', false, false);

/* -- DOCUMENT GLOBALS -- */
html, body {
  position: relative !important;
  width: 100% !important;
  max-width: 100vw !important;
  height: 100% !important;
  max-height: 90vw !important;
  @include regularFont();
}

#page-body
{
  .root-element {
    @include media("<=phone") {
      width: 70vw !important;
    }

    @include media(">phone", "<=tablet") {
      width: 80vw !important;
    }

    @include media(">tablet") {
      max-width: 90vw !important;
    }

    box-sizing: content-box !important;
    width: 100% !important;
  }
}

/* OVERRIDES NAV BAR */
.navbar-nav > li > a {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

.navbar {
  min-height: 32px !important;

  @include media("<=phone") {
    max-width: 320px !important;
  }

  @include media(">phone", "<=tablet") {
    max-width: 768px !important;
  }

  @include media(">tablet") {
    max-width: 90vw !important;
  }

  width: 100% !important;
  padding-left: 5px !important;
  padding-right: 5px !important;
}

.affix {
  @extend .navbar;
  position: fixed !important;
  left: 0 !important;
  top: 0 !important;
  width: 100% !important;
  max-width: 100% !important;
  z-index: 9999 !important;
}

/* LOGO */
.logo-container {
  position: relative;
  height: 150px;
  margin: 0 auto;
}

.logo-container img {
  position: absolute;
  top: 25%;
  cursor: pointer;
}

/* PAGE CONTAINERS */
.page
{
  @extend .container;
  @include media("<=phone") {
    max-width: 320px !important;
  }

  @include media(">phone", "<=tablet") {
    max-width: 768px !important;
  }

  @include media(">tablet") {
    width: 90vw !important;
  }

  min-height: 70vh !important;
}

.general-inner
{
  @extend .container;
  height: 70vh;
  text-align: center !important;
}

/* -- IMPORT PAGES -- */
@import 'pages/index';
@import 'pages/articles';
@import 'pages/account';
@import 'pages/contribute';

/* -- FOOTER -- */
.footer
{
  position: relative;
  bottom: 0;
  width: 100%;
  border-top: 2px solid $gray;
  background-color: #333333;
  min-height: 120px;
  margin: 15px 0 0 0;
  overflow: hidden;

  .inner {
    margin-top: 20px;
    text-align: center;
    color: $gray;

    h5 {
      color: inherit !important;
    }
  }
}

