/* DISPLAY TYPES */
.ampp_inline
{
    display: inline-block !important;
}

.ampp_block
{
    display: block !important;
}

/* CENTERIZERS */
.ampp_center
{
    margin: 0 auto !important;
}

/* IMAGE SIZE RESTRICTIONS */
.ampp_img_verysmall
{
    width: 10% !important;
    height: 10% !important;
}

.ampp_img_small
{
    width: 25% !important;
    height: 25% !important;
}

.ampp_img_reasonable
{
    width: 55% !important;
    height: 55% !important;
}

.ampp_img_fit
{
    width: 100% !important;
    height: auto !important;
}

.ampp_img_fitLimitMax
{
    max-width: 100% !important;
    height: auto !important;
}