#account
{
  .account-container
  {
    @extend .container;
    @include media("<=phone") {
      max-width: 160px;
    }

    @include media(">phone", "<=tablet") {
      max-width: 334px;
    }

    @include media(">tablet") {
      width: 45vw;
    }

    background: #eeeeee;
    border: 1px solid #E0E0E0;
    margin: 0 25% 0 25%;
    padding: 7px;
  }
}