#articles
{
  // Row
  div .grid-row {
    @include make-row();
  }

  // Main Column
  div .grid-column-main {
    @include make-md-column(10);

    .article-bottom {
      font-style: italic !important;
      color: #ABB2B9 !important;
    }
  }

  // Sub-main Columns
  div .grid-column-submain-left {
    @include make-md-column(9);
    color: #ABB2B9;
  }

  div .grid-column-submain-right {
    @include make-md-column(3);
    color: #ABB2B9;
  }

  div .grid-column-sponsored {
    @include make-md-column(2);
    color: #ABB2B9;

    h6 {
      font-size: 11px !important;
      color: inherit !important;
      font-weight: 100 !important;
    }
  }

  div .border-right {
    border-right: 1px solid #eeeeee;
  }

  div .border-top {
    border-top: 1px solid #eeeeee;
  }

  div .border-bottom {
    border-bottom: 1px solid #eeeeee;
  }
}