// Mixins
@mixin articleLinkDefaultStyles() {
  display: block;
  border: 1px solid rgb(68, 179, 234);
  padding: 5px;
  margin: 3px 5px 3px 5px;
  background: #FFFFFF;
  color: #000000;
}

@mixin imageArchiveList() {
  margin-top: 7px;
  max-height: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 4px;
  border: 1px solid $gray-lighter;
}

// Core
#contribute
{
  display: none;

  // Row
  div .grid-row {
    @include make-row();
  }

  // Main Column
  div .grid-column-main {
    @include make-md-column(9);

    min-height: 90%;
    padding-bottom: 10px;
  }

  // Left Column
  div .grid-column-left {
    @include make-md-column(3);

    background: #eeeeee;
    height: 90% !important;
    border: 1px solid #E0E0E0;
    overflow-y: scroll;
    overflow-x: hidden;

    .article-list-box:link {
      @include articleLinkDefaultStyles();
      @include regularFont();
      text-decoration: none !important;
    }

    .article-list-box:visited {
      @include articleLinkDefaultStyles();
      text-decoration: none !important;
    }

    .article-list-box:hover {
      background: #FFFFFF !important;
      text-decoration: none;
      cursor: pointer;
    }

    .box-inactive {
      background: #eeeeee !important;
    }
  }

  // Border Modifiers
  .border-top {
    border-top: 1px solid #E0E0E0;
  }

  .border-bottom {
    border-bottom: 1px solid #E0E0E0;
  }

  .border-right {
    border-right: 1px solid #E0E0E0;
  }

  .border-left {
    border-left: 1px solid #E0E0E0;
  }

  .disabled-button {
    color: $gray-light;
  }

  #article-image-list {
    @include imageArchiveList();
  }

  #modal-image-selector-inner {
    @include imageArchiveList();
  }

  // Quill Container
  .quill-editor {
    height: 100% !important;
    max-height: 85% !important;
  }

  // Quill Editor Overrides
  .ql-editor {
    height: 100% !important;
    max-height: 90% !important;
  }

  // Image Archive List Overrides
  .img-archive-list {

    // List Item Overrides
    .ia-list-item {
      background-color: $gray-lighter;
    }

    .ia-list-item-selected {
      background-color: lighten($gray-lighter, 80%) !important;
    }

    .ia-list-item:hover {
      background-color: lighten($gray-lighter, 80%);
      cursor: pointer;
    }
  }
}