// All operations are a subset of the div index
#index
{
  // Row
  div .grid-row {
    @include make-row();
  }

  // Small grid column
  div .grid-column-highlight {
    @include make-md-column(3);
  }

  // Spotlight grid column
  div .grid-column-spotlight {
    @include make-md-column(6);
  }

  // Sponsored grid column
  div .grid-column-sponsored {
    @include make-md-column(2);
  }

  a.post-container:link {
    display: block;
    padding: 1px;
    text-decoration: none;
    color: #333333;
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
    line-height: 21px;

    &:hover:after {
      display: block;
      background: rgba(0, 0, 0, 0.0225);
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
  }

  a.post-container .img-container {
    display: block;
    box-sizing: border-box;
    border: 1px solid #ABB2B9;
    padding: 0 1px 1px 0 !important;
    margin: 0 0 7px !important;
  }

  a.post-container .img-container img {
    width: 100%;
    margin: 0 -1px -1px 0;
  }

  a.post-container .img-container:hover {
    color: #ABB2B9 !important;
  }

  a.post-container .img-container:visited {
    color: #333333;
  }

  a.post-container span.postContent {
    font-weight: normal !important;
    font-style: normal !important;
    font-size: 13px !important;
    color: $gray-dark;
  }

  a.post-container span.infoText {
    font-weight: normal !important;
    font-style: italic;
    font-size: 10px !important;
    color: #ABB2B9;
  }

  a.post-container span.infoTextProminent {
    font-weight: normal !important;
    font-style: italic;
    font-size: 11px !important;
    color: #8c8c8c;
  }

  a.post-container h3 {
    margin-top: 3px !important;
    margin-bottom: 3px !important;
    padding: 0 !important;
    color: #375a7f !important;
  }

  a.postContainer h4 {
    margin-top: 3px !important;
    margin-bottom: 2px !important;
    padding: 0 !important;
    color: #375a7f !important;
  }
}